
body {
	
}
div {
	color: #ff6699;
	font-size: 0.8em;
	font-style: normal;
	font-weight: bold;
	text-shadow: 2px 2px 7px #111111;
}

header {
	color: white;
	text-align: center;
	font-size: 2.5em;
	font-style: normal;
	font-weight: bold;
	text-shadow: 2px 2px 7px #111111;}

}
label {
	color: green;
}
h2, p{
	color: #ff9999;
	font-size: 1.4em;
	font-style: normal;
	font-weight: bold;
	text-shadow: 2px 2px 7px #111111;
}

.flex-container {
	margin: 3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;

}	

 .flex-item {
  margin-top: 30px;
  flex

  height: 100em;
  width: 50em;
  background-color: DarkCyan;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 2em;
  box-sizing: border-box;

  line-height: 50px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
 }
#footer {
 	margin-bottom: 50px;
	bottom: 67em;
}
#perfectday{
    position: relative;
    background-color: #BDBD9C;
    text-decoration: bold;
}
.flex-item-tab {
	display: inline;
	display: table;
	flex-grow: 2;
	text-align: center;
	width: 60%
	float: left;
}
.line{
	width: 50px;
}

#nombre_participante {
	width: 20em;
}
.selector {
	width: 15em;
}
#header{
	background-color: DarkCyan;
	box-shadow: 5px 6px 10px #888888;
}
#setlines {
	width: 5em;
}
.name {
	width: 15em;
}
