html
	head
		link(rel="stylesheet" type="text/css" href="/mohuy/_design/mohuy/css/test.css")
		title Trabajadora Social
	body
		.navigation
			ul
				li 
					a(href="#") Calendarios
				li 
					a(href="#") Casos
				li 
					a(href="#") Listas
