doctype html

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="/mohuy/_design/mohuy/css/test.css")
		title Entrevista Inicial
	body
		header#header ENTREVISTA INICIAL
		hr 
		fieldset#setlines.flex-container
			section#nombre_participante
				h4 Nombre del Participante:
				select.selector(data-bind="value: name")
			section
				h4 Fecha:
				input(type="date")
		br
		article.flex-container
			section
				form
						table(style="width:100%")
							thead
								tr 
									th Problemas Indentificados:
							
							tbody
								tr
									td
										input(type="checkbox" name="id" value="general")
										label(for="id")  Orientacion General
									td
										input(type="checkbox" name="id" value="live")
										label(for="id")  Vivienda
									td
										input(type="checkbox" name="id" value="empleo")
										label(for="id")  Falta de Empleo
								tr
									td
										input(type="checkbox" name="id" value="baja")
										label(for="id")  Baja Autoestima
									td
										input(type="checkbox" name="id" value="estres")
										label(for="id")  Estres
									td
										input(type="checkbox" name="id" value="agresiva")
										label(for="id")  Conducta Agresiva
								tr
									td
										input(type="checkbox" name="id" value="hogar")
										label(for="id")  Violencia en el Hogar
									td
										input(type="checkbox" name="id" value="menores")
										label(for="id")  Maltrato a Menores
									td
										input(type="checkbox" name="id" value="embarazo")
										label(for="id") Embarazo Adolescente
								tr
									td
										input(type="checkbox" name="id" value="depresion")
										label(for="id")  Depresion
									td
										input(type="checkbox" name="id" value="familiar")
										label(for="id")  Problemas Familiares
									td
										input(type="checkbox" name="id" value="maritales")
										label(for="id")  Conflictos Maritales
								tr
									td
										input(type="checkbox" name="id" value="divorcio")
										label(for="id")  Crisis de Divorcio
									td
										input(type="checkbox" name="id" value="alcohol")
										label(for="id")  Abuso de Alcohol (propio, otras personas) 
									td
										input(type="checkbox" name="id" value="drugs")
										label(for="id")  Uso de Drogas Ilicitas
								tr
									td
										input(type="checkbox" name="id" value="finacieros")
										label(for="id")  Problemas Financieros 
									td 
										input(type="checkbox" name="id" value="familiar")
										label(for="id") Problemas Familiares
									td
										input(type="checkbox" name="id" value="Alimenticios")
										label(for="id")  Desordenes Alimenticion
								tr
									td
										input(type="checkbox" name="id" value="Espirituales")
										label(for="id")  Problemas Espirituales
									td
										input(type="checkbox" name="id" value="Social")
										label(for="id")  Seguro Social
									td
										input(type="checkbox" name="id" value="Medicare")
										label(for="id")  Problemas con Medicare
								tr
									td
										input(type="checkbox" name="id" value="Gubernamental")
										label(for="id")  Problemas con Alguna Agencia Gubernamental
									td
										input(type="checkbox" name="id" value="otras")
										label(for="id")  Otro:
										input(type="text")
		article.flex-container
			section.flex-item
				form
					h2 Historial de Salud:
						select
							option(value="recibe") Recibe Tratamiento Actualmente
							option(value="none") No Recibe Tratamiento Actualmente
							textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Accion Tomada:
					textarea(rows="4" cols="40")
			section.flex-item 
				form
					h2 Plan a Seguir:
					textarea(rows="4" cols="40")

