doctype html 

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="../css/test.css")
		title Historial Social del Participante
	body 
		header HISTORIAL SOCIAL DEL PARTICIPANTE 
		article.flex-container.flex-item
			section
				h4 Nombre del Participante:
				select(data-bind="value: name")
			section#fecha
				h4 Fecha:
				input(type="date")
		article.flex-container
			section
				form
					.flex-item
						h2 Motivo del Referido:
						textarea
			section
				form
					.flex-item
						h2 Resumen de Interveción:
						textarea
			section
				form.flex-item
					h2 Historial Bio-Psicosocial:
						p
								label(for="family") Historial Familiar:
								textarea
								br
								label(for="academi") Historial Academico y Ocupacional:
								textarea 
								br
								label(for="live") Vivienda:
								textarea
								br
								label(for="health") Historial de Salud Física:
								textarea
								br 
								label(for="mental") Historial de Salud Mental:
								textarea
			section
				form.flex-item
					h2 Ponderación:
						p 
							label(for="general") Descripción General del Problema:
							textarea
							br
							label(for="factor") Factores Concurrentes:
							textarea
							br
							label(for="critic") Factores Críticos:
							textarea
							br
							label(for="problem") Análisis del Problema Desde un Marco teórico:
							textarea
			section
				form
					.flex-item
						h2 Recomendaciones:
						textarea