doctype html 

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="/mohuy/_design/mohuy/css/test.css")
		title Historial Social del Participante
	body 
		header#header HISTORIAL SOCIAL DEL PARTICIPANTE 
		hr 
		fieldset#setlines.flex-container
			section#nombre_participante
				h4 Nombre del Participante:
				select.selector(data-bind="value: name")
			section
				h4 Fecha:
				input(type="date")
		article.flex-container
			section
				form.flex-item
						h2 Motivo del Referido:
						textarea(rows="4" cols="40")
			section
				form.flex-item
						h2 Resumen de Interveción:
						textarea(rows="4" cols="40")
			section
				form.flex-item
					h2 Historial Bio-Psicosocial:
						p
								label(for="family") Historial Familiar:
								br 
								textarea(rows="4" cols="40")
								hr
								label(for="academi") Historial Academico y Ocupacional:
								br
								textarea(rows="4" cols="40")
								hr
								label(for="live") Vivienda:
								br
								textarea(rows="4" cols="40")
								hr
								label(for="health") Historial de Salud Física:
								br
								textarea(rows="4" cols="40")
								hr 
								label(for="mental") Historial de Salud Mental:
								br
								textarea(rows="4" cols="40")
			section
				form.flex-item
					h2 Ponderación:
						p 
							label(for="general") Descripción General del Problema:
							br
							textarea(rows="4" cols="40")
							hr
							label(for="factor") Factores Concurrentes:
							br
							textarea(rows="4" cols="40")
							hr
							label(for="critic") Factores Críticos:
							br
							textarea(rows="4" cols="40")
							hr
							label(for="problem") Análisis del Problema Desde un Marco teórico:
							br
							textarea(rows="4" cols="40")
			section
				form.flex-item
						h2 Recomendaciones:
						textarea(rows="4" cols="40")