doctype html

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="../css/test.css")
		title Informe de Transferencia 
	body
		header INFORME DE TRANSFERENCIA
		article.flex-container.flex-item
			section
				h4 Nombre del Participante:
				select(data-bind="value: name")
			section#fecha
				h4 Fecha:
				input(type="date")
		article.flex-container
			section.flex-item
				form
					h2 Resumen de la Labor Realizada:
					textarea
			section.flex-item
				form
					h2 Ponderación:
					textarea
			section.flex-item
				form
					h2 Logros:
					textarea
			section.flex-item
				form
					h2 Motivo de la Transferencia:
					textarea
			section.flex-item
				form
					h2 Recomendaciones:
					textarea