doctype html

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="../css/test.css")
		title Informe de Transferencia 
	body
		header#header INFORME DE TRANSFERENCIA
		hr 
		fieldset#setlines.flex-container
			section#nombre_participante
				h4 Nombre del Participante:
				select.selector(data-bind="value: name")
			section
				h4 Fecha:
				input(type="date")
		article.flex-container
			section.flex-item
				form
					h2 Resumen de la Labor Realizada:
					textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Ponderación:
					textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Logros:
					textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Motivo de la Transferencia:
					textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Recomendaciones:
					textarea(rows="4" cols="40")