doctype html

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="../css/test.css")
		title Informe de Cierre 
	body
		header INFORME DE CIERRE
		article.flex-container.flex-item
			section
				h4 Nombre del Participante:
				select(data-bind="value: name")
			section#fecha
				h4 Fecha:
				input(type="date")
		article.flex-container
			section.flex-item
				form
					h2 Resumen de Interveción:
					textarea
			section.flex-item
				form
					h2 Ponderación:
					textarea
			section.flex-item
				form
					h2 Logros
					textarea
			section.flex-item
				form
					h2 Motivo del Cierre:
					textarea 
			section.flex-item
				form
					h2 Recomendaciones:
					textarea
