doctype html

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="../css/test.css")
		title Informe de visita al hogar
	body
		header INFORME DE VISITA AL HOGAR:
		article.flex-container.flex-item
			section
				h4 Nombre del Participante:
				select(data-bind="value: name")
			section#fecha
				h4 Fecha:
				input(type="date")
		article.flex-container
			section.flex-item
				form
					h2 Resumen De Intervención:
					textarea
			section.flex-item
				form
					h2 Acuerdos Tomados Con El/La Participante:
					textarea
			section.flex-item
				form
					h2 Ponderación:
					textarea