doctype html 

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="../css/test.css")
		title Nota de Progreso
	body 
		h1 NOTA DE PROGRESO
		article.flex-container.flex-item
			section
				h4 Nombre del Participante:
				select(data-bind="value: name")
			section#fecha
				h4 Fecha:
				input(type="date")
		article.flex-container
			section.flex-item
				form
					h4 Tipo de entrevista:
					p
						input(type="checkbox" name="interv" value="")
						label(for="interv") Inicial
						input(type="checkbox" name="interv" value="")
						label(for="interv") Seguimiento
						input(type="checkbox" name="interv" value="")
						label(for="interv") Cierre
						input(type="checkbox" name="interv" value="")
						label(for="interv") Transferencia
						br
						input(type="checkbox" name="interv" value="")
						label(for="interv") Llamadas Telefónicas
						input(type="checkbox" name="interv" value="")
						label(for="interv") Correo Electrónico
						input(type="checkbox" name="interv" value="")
						label(for="interv") Encuentro Casual
		article.flex-container
			section.flex-item
				form
					h2 Resumen de Intervención:
					textarea
			section.flex-item
				form
					h2 Acuerdos Tomados con el/la Participante:
					textarea
			section.flex-item
				form
					h2 Ponderación:
						p 
							label(for="concurente") Factores Concurentes:
							textarea
							br
							label(for="critico") Factores Críticos:
							textarea
							br
							label(for="analisis") Análisis del Problema o la Situación desde un Marco Teórico:
							textarea
