doctype html 

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="../css/test.css")
		title Nota de Progreso
	body 
		header#header NOTA DE PROGRESO
		hr 
		fieldset#setlines.flex-container
			section#nombre_participante
				h4 Nombre del Participante:
				select.selector(data-bind="value: name")
			section
				h4 Fecha:
				input(type="date")
		article.flex-container
			section.flex-item
				form
					h2 Tipo de entrevista:
						.estructura
							input(type="checkbox" name="interv" value="")
							label(for="interv") Inicial
							input(type="checkbox" name="interv" value="")
							label(for="interv") Seguimiento
							input(type="checkbox" name="interv" value="")
							label(for="interv") Cierre
							input(type="checkbox" name="interv" value="")
							label(for="interv") Transferencia
							br
							input(type="checkbox" name="interv" value="")
							label(for="interv") Llamadas Telefónicas
							input(type="checkbox" name="interv" value="")
							label(for="interv") Correo Electrónico
							input(type="checkbox" name="interv" value="")
							label(for="interv") Encuentro Casual
		article.flex-container
			section.flex-item
				form
					h2 Resumen de Intervención:
					textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Acuerdos Tomados con el/la Participante:
					textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Ponderación:
						.estructura
							label(for="concurente") Factores Concurentes:
							br
							textarea(rows="4" cols="40")
							hr
							label(for="critico") Factores Críticos:
							br
							textarea(rows="4" cols="40")
							hr
							label(for="analisis") Análisis del Problema o la Situación desde un Marco Teórico:
							br
							textarea(rows="4" cols="40")
