doctype html
html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet", type="text/css", href="../css/test.css")
		title Datos Personales
	body
		header#header DATOS PERSONALES 
		hr 
		fieldset#setlines.flex-container
			section
				h4 Fecha:
				input(type="date")
		article.flex-container
			section.flex-item
				form
					p
						label(for="name") Nombre:
						input(type="text")
					hr
					p
						label(for="nickename") Apodo:
						input(type="text")
					hr
					p
						label(for="direction") Dirección Residencial:
						input(type="text")
					hr
					p
						label(for="postal") Dirección Postal:
						input(type="text")
					hr
					p
						label(for="age") Edad:
						input(type="number")
					hr
					p
						label(for="date") Fecha de Nacimiento:
						input(type="date")
					hr
					h2 Sexo:
						.estructura
							input(type="radio" name="gender" value="male") 
							label(for="gender") Male
							input(type="radio" name="gender" value="female")
							label(for="gender") Female
					hr
					h2 Estado Civil:
						.estructura
							input(type="radio" name="civil" value="solteria")
							label(for="civil") Soltero/a
							input(type="radio" name="civil" value="casado")
							label(for="civil") Casado/a
							input(type="radio" name="civil" value="divorciado")
							label(for="civil") Divorciado/a
							br
							input(type="radio" name="civil" value="viudo")
							label(for="civil") Viudo/a
							input(type="radio" name="civil" value="jefedfam")
							label(for="civil") Jefe de familia
							input(type="radio" name="civil" value="consu")
							label(for="civil") Consesual
							input(type="radio" name="civil" value="separado")
							label(for="civil") Separado/a
					hr
					h2 Teléfono:
						.estructura
							label(for="phone") Casa:
							input(type="text")
							br
							label(for="phone") Celular:
							input(type="text")
							br
							label(for="phone") Trabajo:
							input(type="text")
					hr
					h2 Escolaridad:
						.estructura
							input(type="checkbox" name="school" value="elemental")
							label(for="school") Escuela Elemenal
							input(type="checkbox" name="school" value="intermedia")
							label(for="school") Escuela Intermedia
							input(type="checkbox" name="school" value="superior")
							label(for="school") Escuela Superior
							br
							input(type="checkbox" name="school" value="gradoasoc")
							label(for="school") Grado Asociado
							input(type="checkbox" name="school" value="bachillerato")
							label(for="school") Bachillerato
							input(type="checkbox" name="school" value="maestria")
							label(for="school") Maestria
							br
							input(type="checkbox" name="school" value="doctorado")
							label(for="school") Doctorado
							input(type="checkbox" name="school" value="none")
							label(for="school") No Tiene Escolaridad
							br
							input(type="checkbox" name="school" value="other")
							label(for="school") Otros:
							input(type="text")
					hr
					p
						label(for="completogra") Grado completogra:
						input(type="text")
					hr
					p
						label(for="estudioas") Escuela, Colegio o Universidad:
						input(type="text")
					hr
					p
						label(for="profesion") Profesión:
						input(type="text")
					hr
					p
						label(for="work") Lugar de Trabajo:
						input(type="text")
					hr
					p
						label(for="religion") Afiliación Religiosa:
						input(type="text")
					hr
					p
						label(for="medic") Plan Médico:
						input(type="text")
					hr
					h2 Medicare:
						.estructura
							input(type="checkbox" name="medicare" value="partea")
							label(for="medicare") Parte A
							input(type="checkbox" name="medicare" value="parteb")
							label(for="medicare") Parte B
							input(type="checkbox" name="medicare" value="partec")
							label(for="medicare") Parte C
							br
							input(type="checkbox" name="medicare" value="complementario")
							label(for="medicare") Complementario:
							input(type="text")
					hr
					p
						label(for="exp") Fecha de Expiración:
						input(type="date")
					hr
					p
						label(for="fuentes") Fuente de Referido:
						br
						input(type="text")
						br
						label(for="phone") Teléfono:
						input(type="text")
						br
						label(for="name_encar") Nombre Encargado/a Tutoriar:
						br
						input(type="text")
						br 
						label(for="phone") Teléfono:
						input(type="text")
						br
						label(for="person") Persona de Contacto en Caso de Emergencia:
						br
						input(type="text")
						br
						label(for="phone") Teléfono:
						input(type="text")
					hr
					p
						label(for="service") Servicio y/o Otras Agencias Envueltas:
						input(type="text")
					hr 
					h2 Fuentes de Ingresos:
						.estructura
							input(type="checkbox" name="ingreso" value="sueldo")
							label(for="ingreso")  Sueldo
							input(type="checkbox" name="ingreso" value="seguro") 
							label(for="ingreso") Seguro Social
							input(type="checkbox" name="ingreso" value="pension")
							label(for="ingreso") Pensión
							br
							input(type="checkbox" name="ingreso" value="alimenticia")
							label(for="ingreso") Pensión Alimenticia
							input(type="checkbox" name="ingreso" value="bienestar")
							label(for="ingreso") Bienestar
							input(type="checkbox" name="ingreso" value="pan")
							label(for="ingreso") PAN
							br
							input(type="checkbox" name="ingreso" value="rentas")
							label(for="ingreso") Rentas
							input(type="checkbox" name="ingreso" value="desempleo")
							label(for="ingreso") Desempleo
							input(type="checkbox" name="ingreso" value="negocio") 
							label(for="ingreso") Negocio Propio
							br
							label Estimado Mensual: $
							input(type="text")
		article.flex-container
			section
				form
					h2 Composición familiar: 
						table(border="1")
							tr 
								th Nombres
								th Edad
								th Parentesco
								th Ocupación
							tr
								td 
									input.name(type="text")
								td
									input.line(type="number")
								td
									input.name(type="text")
								td
									input(type="text")
						button(data-bind="click: addSeat") add
		article.flex-container
			section.flex-item
				form
					h2 Motivo de consulta Según El/La Participante: 
					textarea