doctype html 

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="../css/test.css")
		title Plan de Servicios
	body 
		header#header PLAN DE SERVICIOS
		hr 
		fieldset#setlines.flex-container
			section#nombre_participante
				h4 Nombre del Participante:
				select.selector(data-bind="value: name")
			section
				h4 Fecha:
				input(type="date")
		article.flex-container
			section.flex-item
				form
					h2 Describción General Del Problema o la Situación:
					textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Ponderación: 
						.estructura 
							label(for="concu") Factores Concurentes:
							br
							textarea(rows="4" cols="40")
							hr
							label(for="critic") Factores Críticos:
							br
							textarea(rows="4" cols="40")
							hr
							label(for="problem") Análisis del Problema o la Situación desde un Marco Teórico:
							br
							textarea(rows="4" cols="40")
			section.flex-item 
				form
					h2 Metas (A mediano o Largo Plazo) del/la Participante en Orden de Prioridad:
					input(type="text")
			section
				form
					h2 Objetivos, Estrategias y Técnicas a Ser Utilizadas  Durante la Intervención:
						table(border="1")
							tr 
								th objetivo 
								th Estrategias
								th Técnicas
							tr 
								td 
									textarea
								td 
									textarea
								td 
									textarea
						button(data-bind="click: addSeat") add
			section.flex-item
				form
					h2 Mencionar y Justificar los Referidos que se Realizarán:
					textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Métodos para Evaluar el progreso del Mejoramiento del/la participante:
					textarea(rows="4" cols="40")