doctype html

html
	head
		meta(http-equiv="content-type" content="text/html;charset=utf-8")
		link(rel="stylesheet" type="text/css" href="../css/test.css")
		title Solicitud de Informacion de la Congregacion Mita, Inc.
	body
		header#header SOLICITUD DE INFORMACIÓN DE LA CONGREGACIÓN MITA, INC.
		hr 
		fieldset#setlines.flex-container
			section#nombre_participante
				h4 Nombre del Participante:
				select.selector(data-bind="value: name")
			section
				h4 Fecha:
				input(type="date")
		article.flex-container
			section.flex-item
				form
					h2 Motivo de la Consulta:
					textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Información Acerca de la Institución Educativa:
						.estructura
							label(for="name") Nombre de la Institución Educativa:
							br
							input(type="text")
							hr
							label(for="name") Recinto(si aplica):
							br
							input(type="text")
							hr
							label(for="name") Pueblo:
							br
							input(type="text")
							hr
							label(for="name") Titulo del Curso:
							br
							input(type="text")
							hr
							label(for="name") Profesor(a) que Ofrece el Curso:
							br
							input(type="text")
							hr
							label(for="name") Propósito del Trabajo:
							br
							textarea(rows="4" cols="40")
			section.flex-item
				form
					h2 Acción Tomada:
					textarea(rows="4" cols="40")